@import "./bootstrap.min.css";
@import "./dycalendar.min.css";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--bs-white);
}
table{
    width: 100%;
}
.dycalendar-month-container .dycalendar-body table tr td {
    padding: 10px;
}
.dycalendar-month-container .dycalendar-today-date {
    background-color: #6f42c1;
    color: rgb(255, 255, 255);
    border-radius: 50px;
}